<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
  <div class="container" style="padding:20px">
    <p>Category: {{car.path}}</p>
    <h3>{{car.name}}</h1>
    <p>Price: {{car.price}}</p>
    <p>Color: {{car.color}}</p>
    <p>{{car.description}}</p>
    <img width="300" src="{{car.image}}" alt="{{car.name}}">
  </div>
</body>
</html>
