<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
  <div class="container" style="padding:20px">
    <p>Parent: {{category.path}}</p>
    <h3>{{category.name}}</h1>
    <p>{{category.description}}</p>
    <img width="300" src="{{category.image}}" alt="{{category.name}}">
  </div>
</body>
</html>
